@import "../../styles/vars.scss";
@import "../../styles/fonts.scss";

.table{
    margin-top: 10vh;
    width: 55vw;
    margin-left: 20vw;
    margin-right: 20vw;
    background-color: $color-sunspurple;
    @include general;
}
.row{
    display:grid;
    grid-template-columns: 28% 28% 28% 16%;
    @include title;
    color: $color-lavender;
    text-align: center;
   
}
.col{
    border: 1px solid $color-plum;
    padding-left: 1vw;
    height: 5vh;
    display: grid;
    align-items: center;
}
.row_input {
    display: grid;
    grid-template-columns: 40% 40% 20%;
}
.input{
    @include general;
    background-color: $color-thistle;
    border-top: 1px solid $color-plum;;
    border-right: 1px solid $color-plum;;
    border-bottom: 1px solid $color-plum;;
    border-left: 1px solid $color-plum;
    color: $color-deeppurple;

    
}
.input:focus{
    outline:none;
    background-color: $color-lavender;
    color: $color-darkpurple;
    @include general;
}
::placeholder {
    color: $color-plum;
}


button {
    background: none;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
    color: $color-deeppurple;
}
button:hover{
    color: $color-lavender;
    }
    
 button:disabled {
    pointer-events: none;
    color: grey;
 }


@media (max-width:701px){
    .table{
    margin-top: 3vh;
    width: 95vw;
    margin-left: 0vw;
    margin-right: 0vw;
    font-size: 0.7rem;
    }
    .row{
        grid-template-columns: 20% 25% 30% 25%;
        font-size: 0.9rem;    
    }
}

@media (min-width:701px) and (max-width:900px){
    .table{
        margin-top: 5vh;
        width: 95vw;
        margin-left: 2vw;
        }
}
@media (min-width:901px) and (max-width:1000px){
    .table{
        margin-top: 5vh;
        width: 85vw;
        font-size: 1.2rem;
        margin-left: 8vw;
        }
        .row{
            grid-template-columns: 20% 20% 35% 25%;
            font-size: 0.9rem;   
}}

@media (min-width: 1001px) and (max-width: 1290px){
    .table{
        width: 65vw;
        }}