@import "./vars.scss";

@mixin general {
    font-family: 'Concert One', cursive;
    font-size: 1rem;
    }

@mixin card {
        font-family: 'Concert One', cursive;
        font-size: 2.3rem;
        }
    

@mixin title {
        font-family: 'Concert One', cursive;
        font-size: 1.2rem;
        }


@mixin headline {
    font-family: 'Concert One', cursive;
    font-size: 2rem;
    color: $color-lavender;
    &:hover {
        color: $color-deeppurple;
        transform: scale(120%);
    }
}


@mixin button-lg {
    font-family: 'Concert One', cursive;
    font-size: 1.5rem;
    border: none;
    border-radius: 10px;
    background-color: $color-plum;
    color: $color-lavender;
    height: 3rem;
    width: 13rem;
    &:hover {
        color: $color-deeppurple;
        transform: scale(120%);
    }
    
}

@mixin button-sm {
    font-family: 'Concert One', cursive;
    font-size: 1.5rem;
    border: none;
    border-radius: 10px;
    background-color: $color-plum;
    color: $color-lavender;
    height: 3rem;
    width: 4rem;
    &:hover {
        color: $color-deeppurple;
        transform: scale(120%);
    }
    
}