@import "../../styles/vars.scss";
@import "../../styles/fonts.scss";

.col{
    border: 2px solid $color-sunspurple;
    height: 50vh;
    width: 28vw;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    align-items: center;
    justify-items: center;
    background-color: $color-thistle;
@include card;
color: $color-deeppurple;
}

.button_show {
    @include button-lg;
    
}
.button_show:focus {
border: 4px solid rgb(79, 9, 79);
}

@media (max-width:700px){
    .col{
        width: 58vw;
    }
}

@media (min-width:701px) and (max-width:900px){
    .col{
        height: 40vh;
        width: 50vw;
    }
}

@media (min-width:901px) and (max-width:1000px){
    .col{
        height: 34vh;
        width: 45vw;
    }
}



