@import "../../styles/fonts.scss" ;

.slider{
    margin-top: 10vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.button_prev{
    @include button-sm;
}

.button_next{
    @include button-sm;
}